.success-row {
  background-color: rgba(34, 139, 34, 0.05); }

.success-checkmark {
  display: inline-block;
  float: left; }

.success-checkmark img {
  width: 25px;
  margin: 15px; }

.assemble-list-item.active.failure-row, .failure-row {
  background-color: rgba(255, 0, 0, 0.05); }

.failure-checkmark {
  display: inline-block;
  float: left; }

.failure-checkmark img {
  width: 25px;
  margin: 15px; }

.scroll-container-assemble {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px; }

.button:focus {
  color: white !important; }

/*# sourceMappingURL=assemblevalidation.scss.map */
