.hide_row {
  display: none; }

.popup-window {
  padding: 20px 20px 0 20px; }

.no-padding {
  padding: 0 0 0 0; }

.form-control-checkbox {
  height: 20px;
  width: 20px;
  margin: 0 auto !important; }

.center-text {
  text-align: center; }

.margin-left-10 {
  margin-left: 10px; }

.treegrid-minus {
  background-color: #073f75;
  color: #fff0f5;
  padding: 2px;
  border-radius: 2px;
  font-size: 0.8em;
  vertical-align: middle; }

.treegrid-plus {
  font-size: 13pt;
  vertical-align: middle; }

.phantom_row {
  background-color: #C5D8EB; }

.smaller-dropdown-menu {
  max-height: 250px; }

.unsaved_assemble_point {
  background-color: lightgreen; }

.deleted_assemble_point {
  background-color: lightcoral; }

#leftValues, #rightValues {
  width: 75px; }

.cursor_pointer {
  cursor: pointer; }

.default-green {
  color: green; }

.default-blue {
  color: blue !important; }

.default-gray {
  color: gray; }

.default-yellow {
  color: gold; }

.treegrid td {
  font-weight: bold; }

.assemble_point_container {
   }

.edit-form-dirty {
  border: 1px solid blue; }

/*# sourceMappingURL=assemblepoint.scss.map */
