.input-group-addon {
  cursor: pointer; }

.margin_exclude_left_10 {
  margin: 20px 10px 20px 0; }

.vis_hidden {
  visibility: hidden; }

.margin-top-10 {
  margin-top: 5px; }

.topRow {
  margin-bottom: 30px; }

.on-drag-enter {
  background-color: #aaaaaa;
  border: 3pt dotted;
  padding-bottom: 50px; }

.on-drag-hover:after {
  content: 'Drop Questions Here';
  font-size: 20pt;
  margin-left: 20px; }

.list_item_move {
  cursor: row-resize; }

.panel_drag:hover {
  border: 1pt dashed #073F75; }

/*# sourceMappingURL=auditconfig.scss.map */
