.container-object {
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
  cursor: pointer; }

.selected-container-item {
  background-color: lightblue; }

.no-padding {
  padding: 0 0 0 0; }

textarea {
  max-width: 770px;
  max-height: 123px; }

.bg {
  font-size: 13px; }

/*# sourceMappingURL=containerreprocessing.scss.map */
