.popup-window {
  padding: 20px 20px 0 20px; }

.no-padding {
  padding: 0 0 0 0; }

.detailsTextbox {
  width: 100%;
  height: 150px;
  padding: 1px; }

.highlightred {
  background-color: #FFCCCC; }

.highlightgreen {
  background-color: #99FF99; }

.highlightyellow {
  background-color: #EEEE00; }

.required {
  /*color: red;*/ }

.statusbar {
  color: lightyellow;
  background-color: black;
  height: 20px;
  text-align: center; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  overflow: visible; }

.overlaysearch {
  position: absolute;
  width: 80%;
  height: 600px;
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  overflow: visible; }

.modal {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 10%;
  left: 10%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  border: 4px solid;
  text-align: center;
  background-color: white;
  color: black;
  overflow: visible;
  z-index: 998;
  /* 1px higher than the overlay layer */ }

.modalsearch {
  width: 80%;
  height: 600px;
  position: fixed;
  top: 10%;
  left: 10%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  border: 4px solid;
  text-align: center;
  overflow: visible;
  z-index: 998;
  /* 1px higher than the overlay layer */
  background-color: white;
  color: black; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

/*# sourceMappingURL=deviations.scss.map */
