.search-dropdown {
  height: auto;
  width: auto;
  box-shadow: 2px 2px 3px #888888;
  max-height: 155px;
  overflow-y: hidden;
  z-index: 30;
  background-color: white; }

ul {
  list-style-type: none; }

.highlighted {
  background-color: lightblue;
  color: black;
  font: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit; }

.defectItem {
  padding-left: 13px;
  padding-right: 8px;
  z-index: 30; }

/*# sourceMappingURL=ManualInspectionEntry.scss.map */
