.defectQty {
  width: 50px; }

.defectComments {
  width: 330px;
  resize: none; }

.overlay {
  position: absolute;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9997;
  overflow: visible; }

.modalsearch {
  width: 750px;
  height: 300px;
  position: fixed;
  top: 300px;
  left: 600px;
  border-radius: 10px;
  border-color: black;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
  overflow: visible;
  z-index: 9998;
  /* 1px higher than the overlay layer */
  background-color: #cccccc;
  color: black; }

/*# sourceMappingURL=ObaSamplingStation.scss.map */
