.span-row {
  padding-left: 15px; }

.grid-title {
  font-size: 18px;
  position: relative;
  top: 3px; }

.selected-wip {
  background-color: lightblue; }

.unreleased-sfo {
  color: green; }

.phantom-item {
  color: blue;
  font-weight: bold; }

.span-button {
  cursor: pointer; }

.span-button:hover {
  opacity: .6; }

@media print {
  a[href]:after {
    content: none !important; }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666666666666%; }
  .col-md-10 {
    width: 83.33333333333334%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666666666666%; }
  .col-md-7 {
    width: 58.333333333333336%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666666666667%; }
  .col-md-4 {
    width: 33.33333333333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.666666666666664%; }
  .col-md-1 {
    width: 8.333333333333332%; }

  body .content {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 850px; } }

/*# sourceMappingURL=OrderConversion.scss.map */
