.no-padding {
  padding: 0 0 0 0; }

.disabled-select {
  cursor: not-allowed;
  background-color: #eeeeee; }

.wizard-steps li {
  -moz-min-width: 20%;
  -ms-min-width: 20%;
  -o-min-width: 20%;
  -webkit-min-width: 20%;
  min-width: 20%; }

.invalid {
  border: solid; }

/*# sourceMappingURL=popDePop.scss.map */
