.popped {
  background-color: Darkgray;
  color: black; }

.activeRow {
  background-color: #dce5ec;
  color: black; }

.maxActuations {
  background-color: red; }

.noshadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important; }

.scrollable-panel {
  height: 500px; }

.gridStyle-full {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  table-layout: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #d4d4d4;
  -moz-min-width: 670px;
  -ms-min-width: 670px;
  -o-min-width: 670px;
  -webkit-min-width: 670px;
  min-width: 670px;
  height: 450px; }

.gridStyle-half {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  table-layout: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #d4d4d4;
  -moz-min-width: 670px;
  -ms-min-width: 670px;
  -o-min-width: 670px;
  -webkit-min-width: 670px;
  min-width: 670px;
  height: 270px; }

.gridButton {
  height: 30px; }

.no-padding {
  padding: 0 0 0 0; }

.sequence-label {
  background: #edf1f5;
  border: solid 1px #555555;
  color: #686868;
  height: 40px;
  width: 40px;
  font-size: 18pt;
  font-weight: 400;
  text-align: center; }

.grid-row {
  padding: 20px 0 10px 0;
  border: 1px solid gray; }

.remove-button {
  position: relative;
  top: -22px;
  left: -4px; }

/*# sourceMappingURL=PopStation.scss.map */
