.no-padding {
  padding: 0 0 0 0; }

.ui-drag-clone {
  border: 1px dotted #ccc;
  padding: 6px;
  background: #f9f9f9;
  width: 300px;
  height: 100px; }

.disabled-select {
  cursor: not-allowed;
  background-color: #eeeeee; }

ul {
  list-style-type: none; }

.list_item {
  padding: 10px; }

.checked_material {
  margin-right: 10px !important; }

.form-control-checkbox {
  height: 20px;
  width: 20px;
  margin: 0 auto !important;
  cursor: pointer; }

.on-drag-enter {
  background-color: #aaaaaa;
  border: 3pt dotted;
  padding-bottom: 50px; }

.on-drag-hover:after {
  content: 'Drop Material Here';
  font-size: 14pt;
  margin-left: 120px;
  position: absolute;
  bottom: 1px; }

/*# sourceMappingURL=assembleconstraint.scss.map */
