.container-object {
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
  cursor: pointer; }

.selected-container-item {
  background-color: #CDE0EF; }

h1, h2, h3, h4, h5, h6, {
    font-weight: 600;
}
.contain-repro-scroll-container {
    max-height: 100px;
    overflow: auto;
    border: 1px solid #88A7C1;
    border-radius: 4px;
    padding: 10px 15px 20px;
}
.contain-repro-scroll-container::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

.contain-repro-scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.contain-repro-scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background:  rgb(113, 155, 189);
}
/*# sourceMappingURL=containerreprocessing.scss.map */
