
.detailsTextbox {
  width: 100%;
  height: 150px;
  padding: 1px; }

.highlightred {
  background-color: #FFCCCC; }

.highlightgreen {
  background-color: #99FF99; }

.highlightyellow {
  background-color: #EEEE00; }

.statusbar {
  color: lightyellow;
  background-color: black;
  height: 20px;
  text-align: center; }

.deviations-list-container {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
     border: 1px solid #DDD;
    border-radius: 4px;
}
.deviations-list-container::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

.deviations-list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.deviations-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background:  rgb(113, 155, 189);
}
.step-content {
    margin-left: 0;
}

#routeWizard .wizard-step-container {
    margin-left: 20px;
}
#routeWizard .wizard-steps {
    left: -25px;
}
#routeWizard .wizard-step-container ul.wizard-steps li {
    min-width: 20%;
}
#scriptWizard .wizard-steps {
    left: 110px;
}
/*# sourceMappingURL=deviations.scss.map */
