﻿.scan-success {
    border-color: green !important;
}

.scan-failure {
    border-color: red !important;
}

.alert-small {
    padding: 7px 7px 8px 7px !important;
    margin-bottom: 0 !important;
}
.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-shadow:2px 4px 4px rgba(0, 0, 0, .3);
  color: #fff;
  background:-webkit-gradient(radial, 219 69, 43, 220 -257, 465, from(#797A87), to(#56545F));
  display: inline-block; 

}
