﻿#sidebar {
        display: none;
    }
    .sidebar-toggle-box {
        display: none;
    }
    .main-content {
        margin: 0px!important;
    }

/*-----------------*/
/***** Common grid style  FOR GRID ON Landing PAGE *****/
/*-----------------*/
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-height: 250px;
    width: 100%;
    height: auto;
    background: #E6E7E8;
}

.goliath-body {
    min-height: 175px;
    position: relative;
    display: block;
    opacity: 0.8;
}

.rma-body {
    background-image: url('../img/ngMES_wrench_gridbackground.png');
}

.grid figure figcaption {
    padding: 2em;
    color: #4e5153;
    font-size: 12px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        /* Anchor will cover the whole item by default */
        /* For some effects it will show as a button */
        .grid figure figcaption > a {
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 200;
}

    .grid figure h2 span {
        font-weight: 600;
    }

.grid figure h2,
.grid figure .goliath-inner {
    margin: 0;
}


/*-----------------*/
/***** grid on landing page hover effect Goliath  *****/
/*-----------------*/

figure.effect-goliath.rma-body {
    background-image: url('../../img/dashboard_tiles/rma_Background.svg');
}

figure.effect-goliath.customer-body {
    background-image: url('../../img/customersBackground.png');
}

figure.effect-goliath.generic-body {
    background-image: url('../../img/genericBackground.png');
}

figure.effect-goliath.assembly-body {
    background-image: url('../../img/assemblyBackground.png');
}

figure.effect-goliath.config-body {
    background-image: url('../../img/configBackground.png');
}

figure.effect-goliath.code-body {
    background-image: url('../../img/configBackground.png');
}

figure.effect-goliath.users-body {
    background-image: url('../../img/usersBackground.png');
}
figure.effect-goliath.identity-body {
    background-image: url('../../img/dashboard_tiles/identity_Background.svg');
}
figure.effect-goliath.localization-body {
    background-image: url('../../img/dashboard_tiles/localization_Background.svg');
}
figure.effect-goliath.partallocation-body {
    background-image: url('../../img/dashboard_tiles/partallocation_Background.svg');
}
figure.effect-goliath.wiki-body {
    background-image: url('../../img/dashboard_tiles/wiki_Background.svg');
}
figure.effect-goliath.start-body {
    background-image: url('../../img/dashboard_tiles/start_Background.svg');
}
figure.effect-goliath.dataConfig-body {
    background-image: url('../../img/dashboard_tiles/dataconfig_Background.svg');
}
figure.effect-goliath.dataConfigLegacy-body {
    background-image: url('../../img/dashboard_tiles/dataconfigLegacy_Background.svg');
}
figure.effect-goliath.stations-body {
    background-image: url('../../img/dashboard_tiles/stations_Background.svg');
}
figure.effect-goliath.emi-body {
    background-image: url('../../img/dashboard_tiles/emi_Background.svg');
}
.goliath-body,
figure.effect-goliath h2 {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

figure.effect-goliath .goliath-body {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-goliath h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    line-height: 33px;
}

    figure.effect-goliath h2 a {
        color: #003764;
    }

figure.effect-goliath .goliath-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

figure.effect-goliath .goliath-inner {
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,25px,0);
    transform: translate3d(0,25px,0);
}

figure.effect-goliath:hover .goliath-body {
    -webkit-transform: translate3d(0,-80px,0);
    transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover h2 {
    -webkit-transform: translate3d(0,-90px,0);
    transform: translate3d(0,-90px,0);
}

figure.effect-goliath:hover .goliath-inner {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-goliath:hover figcaption {
    transition: all 0.15s ease;
    background: rgba(255, 255, 255, 0.7);
}

.goliath-inner ul {
    padding: 0;
}

    .goliath-inner ul li {
        list-style: none;
    }
.btn-group.jumpbar {
    width: 100%;
}
.jumpbar .btn {
    font-size: 13px;
    border-radius: 4px;
   color: #999999;
    border: 1px solid #A6A9AF;
    width: 100%;
    text-align: left;
}
.dropdown-menu {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}