﻿@font-face {
    font-family: 'iFactory_dashboard_icons';
    src: url('../../fonts/iFactory_dashboard_icons.eot') format('embedded-opentype'), 
        url('../../fonts/iFactory_dashboard_icons.svg') format('svg'), 
        url('../../fonts/iFactory_dashboard_icons.ttf') format('truetype'), 
        url('../../fonts/iFactory_dashboard_icons.woff') format('woff');
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iFactory_dashboard_icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-trace:before {
    content: "\e900";
}
.icon-build:before {
    content: "\e901";
}
.icon-control:before {
    content: "\e902";
}
.icon-gauge:before {
    content: "\e903";
}
.icon-identity:before {
    content: "\e904";
}
.icon-rma:before {
    content: "\e905";
}
header {
    display: none;
}

#sidebar {
    display: none;
}

.main-content {
    margin-left: 0px!important;
    padding-top: 0px;
}
section.wrapper {
    padding-top: 90px;
}


/*--hover effect css--*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common hover grid style */
.grid figure {
	position: relative;
	float: left;
	margin: 10px 1%;
	max-height: 360px;
	width: 100%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 20px;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
    font-size: 20px;
    word-spacing: -0.15em;
    font-weight: 400;
    line-height: 1.1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.dash-large-text {
    color: inherit;
	text-transform: uppercase;
    font-weight: 800;
    font-size: 1.45em;
    letter-spacing: -1px;
}
/*figure.iFactory-dashboard-tile:hover span.dash-large-text {
    transition: font-size 0.15s ease-in;
    font-size: 2.5em;
    letter-spacing: normal;
}*/
.grid figure h2,
.grid figure p {
	margin: 0;
}
.grid figure p {
    padding-top: 3px;
	font-size: 68.5%;
}
figure.iFactory-dashboard-tile {
	background-color: transparent;
    border-radius: 3px;
	text-align: left;
}

figure.iFactory-dashboard-tile .tile-body {
    background: #E8E8E8;
    min-height: 190px;
    border-radius: 3px;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
/*figure.iFactory-dashboard-tile .tile-body:focus {
    outline: none;
        opacity: 0.5;
    border:solid 2px #005288;
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, .3);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .3);
}*/

figure.iFactory-dashboard-tile .large-icon-holder {
    padding-top: 10px;
    position: absolute;
    font-size: 10em;
    color: #D6D6D6;
    text-align: center;
    width: 100%;
}
.large-icon-holder i {
     color: #D6D6D6;
}
figure.iFactory-dashboard-tile figcaption {
	z-index: 1;
}
a.grid {
    color
}
a.grid:focus {
    outline: none;
}
a.grid:focus figure.iFactory-dashboard-tile .tile-body {
    opacity: 0.5;
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
    border: 1px solid #003764;
}
a.grid:blur figure.iFactory-dashboard-tile .tile-body {
    border:none;
}
a.grid:focus figcaption::before {
    opacity: 0.9;
    -webkit-transform: translate3d(0,5em,0) scale3d(1,1,1) ;
    transform: translate3d(0,5em,0) scale3d(1,1,1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.iFactory-dashboard-tile:focus {
    outline: none;
}
/*---vvv Uncomment below to get the recently visited list to show  vvv---*/
/*a.grid:focus figure.iFactory-dashboard-tile .hidden-list {
     opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}*/

figure.iFactory-dashboard-tile .hidden-list {
	padding: 20px 0.5em 15px;
	font-weight: 600;	
	font-size: 100%;
	line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.iFactory-dashboard-tile .hidden-list a {
	margin: 0 0.5em;
	color: #101010;
}

.iFactory-dashboard-tile figcaption h4 {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    font-weight: bolder;
    font-size: .9em;
    color: #41586B;
}
.iFactory-dashboard-tile figcaption ul {
    transition-delay: .5s;
    -webkit-trasition-delay: .5s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    padding: 3px 0 7px;
    list-style: none;
    font-size: .7em;
    display: -webkit-box;
}
.iFactory-dashboard-tile figcaption ul li {
    padding-right: 4px;
}
figure.iFactory-dashboard-tile .hidden-list a:hover,
figure.iFactory-dashboard-tile .hidden-list a:focus {
	opacity: 0.6;
}

figure.iFactory-dashboard-tile figcaption::before {
    /*---vvv Uncomment below to get the recently visited list to show  vvv---*/
    display: none;
    /*---^^^   ^^^----*/
	position: absolute;
	top: -7px;
	right: 1em;
	left: 1em;
	z-index: -1;
	height: 5.15em;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,5em,0) scale3d(1,0.023,1) ;
	transform: translate3d(0,5em,0) scale3d(1,0.023,1);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

figure.iFactory-dashboard-tile:hover .tile-body {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    opacity: 0.5;
      -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
    border: 1px solid #898C8E;
}
figure.iFactory-dashboard-tile:focus .tile-body {
	opacity: 0.5;
}
/*figure.iFactory-dashboard-tile:hover .hidden-list {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/

/*figure.iFactory-dashboard-tile:hover figcaption::before {
	opacity: 0.9;
	-webkit-transform: translate3d(0,5em,0) scale3d(1,1,1) ;
	transform: translate3d(0,5em,0) scale3d(1,1,1);
}*/
figcaption h2 {
    -webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
    color: rgba(0, 55, 100, .85) ;
}
figure.iFactory-dashboard-tile:hover figcaption h2 {

    color: rgba(0, 55, 100, 1) ;
}
.content-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
    color: #8c8c8c;
}

@font-face {
    font-family: 'Simple-Line-Icons';
    src: url('../../fonts/Simple-Line-Icons.ttf') format('truetype'), url('../../fonts/Simple-Line-Icons.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
.si {
  font-family: Simple-Line-Icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.btn .si {
  position: relative;
  bottom: -2px;
  display: inline-block;
}
.si-user-female:before {
  content: "\e000";
}
.si-user-follow:before {
  content: "\e002";
}
.si-user-following:before {
  content: "\e003";
}
.si-user-unfollow:before {
  content: "\e004";
}
.si-trophy:before {
  content: "\e006";
}
.si-screen-smartphone:before {
  content: "\e010";
}
.si-screen-desktop:before {
  content: "\e011";
}
.si-plane:before {
  content: "\e012";
}
.si-notebook:before {
  content: "\e013";
}
.si-moustache:before {
  content: "\e014";
}
.si-mouse:before {
  content: "\e015";
}
.si-magnet:before {
  content: "\e016";
}
.si-energy:before {
  content: "\e020";
}
.si-emoticon-smile:before {
  content: "\e021";
}
.si-disc:before {
  content: "\e022";
}
.si-cursor-move:before {
  content: "\e023";
}
.si-crop:before {
  content: "\e024";
}
.si-credit-card:before {
  content: "\e025";
}
.si-chemistry:before {
  content: "\e026";
}
.si-user:before {
  content: "\e005";
}
.si-speedometer:before {
  content: "\e007";
}
.si-social-youtube:before {
  content: "\e008";
}
.si-social-twitter:before {
  content: "\e009";
}
.si-social-tumblr:before {
  content: "\e00a";
}
.si-social-facebook:before {
  content: "\e00b";
}
.si-social-dropbox:before {
  content: "\e00c";
}
.si-social-dribbble:before {
  content: "\e00d";
}
.si-shield:before {
  content: "\e00e";
}
.si-screen-tablet:before {
  content: "\e00f";
}
.si-magic-wand:before {
  content: "\e017";
}
.si-hourglass:before {
  content: "\e018";
}
.si-graduation:before {
  content: "\e019";
}
.si-ghost:before {
  content: "\e01a";
}
.si-game-controller:before {
  content: "\e01b";
}
.si-fire:before {
  content: "\e01c";
}
.si-eyeglasses:before {
  content: "\e01d";
}
.si-envelope-open:before {
  content: "\e01e";
}
.si-envelope-letter:before {
  content: "\e01f";
}
.si-bell:before {
  content: "\e027";
}
.si-badge:before {
  content: "\e028";
}
.si-anchor:before {
  content: "\e029";
}
.si-wallet:before {
  content: "\e02a";
}
.si-vector:before {
  content: "\e02b";
}
.si-speech:before {
  content: "\e02c";
}
.si-puzzle:before {
  content: "\e02d";
}
.si-printer:before {
  content: "\e02e";
}
.si-present:before {
  content: "\e02f";
}
.si-playlist:before {
  content: "\e030";
}
.si-pin:before {
  content: "\e031";
}
.si-picture:before {
  content: "\e032";
}
.si-map:before {
  content: "\e033";
}
.si-layers:before {
  content: "\e034";
}
.si-handbag:before {
  content: "\e035";
}
.si-globe-alt:before {
  content: "\e036";
}
.si-globe:before {
  content: "\e037";
}
.si-frame:before {
  content: "\e038";
}
.si-folder-alt:before {
  content: "\e039";
}
.si-film:before {
  content: "\e03a";
}
.si-feed:before {
  content: "\e03b";
}
.si-earphones-alt:before {
  content: "\e03c";
}
.si-earphones:before {
  content: "\e03d";
}
.si-drop:before {
  content: "\e03e";
}
.si-drawer:before {
  content: "\e03f";
}
.si-docs:before {
  content: "\e040";
}
.si-directions:before {
  content: "\e041";
}
.si-direction:before {
  content: "\e042";
}
.si-diamond:before {
  content: "\e043";
}
.si-cup:before {
  content: "\e044";
}
.si-compass:before {
  content: "\e045";
}
.si-call-out:before {
  content: "\e046";
}
.si-call-in:before {
  content: "\e047";
}
.si-call-end:before {
  content: "\e048";
}
.si-calculator:before {
  content: "\e049";
}
.si-bubbles:before {
  content: "\e04a";
}
.si-briefcase:before {
  content: "\e04b";
}
.si-book-open:before {
  content: "\e04c";
}
.si-basket-loaded:before {
  content: "\e04d";
}
.si-basket:before {
  content: "\e04e";
}
.si-bag:before {
  content: "\e04f";
}
.si-action-undo:before {
  content: "\e050";
}
.si-action-redo:before {
  content: "\e051";
}
.si-wrench:before {
  content: "\e052";
}
.si-umbrella:before {
  content: "\e053";
}
.si-trash:before {
  content: "\e054";
}
.si-tag:before {
  content: "\e055";
}
.si-support:before {
  content: "\e056";
}
.si-size-fullscreen:before {
  content: "\e057";
}
.si-size-actual:before {
  content: "\e058";
}
.si-shuffle:before {
  content: "\e059";
}
.si-share-alt:before {
  content: "\e05a";
}
.si-share:before {
  content: "\e05b";
}
.si-rocket:before {
  content: "\e05c";
}
.si-question:before {
  content: "\e05d";
}
.si-pie-chart:before {
  content: "\e05e";
}
.si-pencil:before {
  content: "\e05f";
}
.si-note:before {
  content: "\e060";
}
.si-music-tone-alt:before {
  content: "\e061";
}
.si-music-tone:before {
  content: "\e062";
}
.si-microphone:before {
  content: "\e063";
}
.si-loop:before {
  content: "\e064";
}
.si-logout:before {
  content: "\e065";
}
.si-login:before {
  content: "\e066";
}
.si-list:before {
  content: "\e067";
}
.si-like:before {
  content: "\e068";
}
.si-home:before {
  content: "\e069";
}
.si-grid:before {
  content: "\e06a";
}
.si-graph:before {
  content: "\e06b";
}
.si-equalizer:before {
  content: "\e06c";
}
.si-dislike:before {
  content: "\e06d";
}
.si-cursor:before {
  content: "\e06e";
}
.si-control-start:before {
  content: "\e06f";
}
.si-control-rewind:before {
  content: "\e070";
}
.si-control-play:before {
  content: "\e071";
}
.si-control-pause:before {
  content: "\e072";
}
.si-control-forward:before {
  content: "\e073";
}
.si-control-end:before {
  content: "\e074";
}
.si-calendar:before {
  content: "\e075";
}
.si-bulb:before {
  content: "\e076";
}
.si-bar-chart:before {
  content: "\e077";
}
.si-arrow-up:before {
  content: "\e078";
}
.si-arrow-right:before {
  content: "\e079";
}
.si-arrow-left:before {
  content: "\e07a";
}
.si-arrow-down:before {
  content: "\e07b";
}
.si-ban:before {
  content: "\e07c";
}
.si-bubble:before {
  content: "\e07d";
}
.si-camcorder:before {
  content: "\e07e";
}
.si-camera:before {
  content: "\e07f";
}
.si-check:before {
  content: "\e080";
}
.si-clock:before {
  content: "\e081";
}
.si-close:before {
  content: "\e082";
}
.si-cloud-download:before {
  content: "\e083";
}
.si-cloud-upload:before {
  content: "\e084";
}
.si-doc:before {
  content: "\e085";
}
.si-envelope:before {
  content: "\e086";
}
.si-eye:before {
  content: "\e087";
}
.si-flag:before {
  content: "\e088";
}
.si-folder:before {
  content: "\e089";
}
.si-heart:before {
  content: "\e08a";
}
.si-info:before {
  content: "\e08b";
}
.si-key:before {
  content: "\e08c";
}
.si-link:before {
  content: "\e08d";
}
.si-lock:before {
  content: "\e08e";
}
.si-lock-open:before {
  content: "\e08f";
}
.si-magnifier:before {
  content: "\e090";
}
.si-magnifier-add:before {
  content: "\e091";
}
.si-magnifier-remove:before {
  content: "\e092";
}
.si-paper-clip:before {
  content: "\e093";
}
.si-paper-plane:before {
  content: "\e094";
}
.si-plus:before {
  content: "\e095";
}
.si-pointer:before {
  content: "\e096";
}
.si-power:before {
  content: "\e097";
}
.si-refresh:before {
  content: "\e098";
}
.si-reload:before {
  content: "\e099";
}
.si-settings:before {
  content: "\e09a";
}
.si-star:before {
  content: "\e09b";
}
.si-symbol-female:before {
  content: "\e09c";
}
.si-symbol-male:before {
  content: "\e09d";
}
.si-target:before {
  content: "\e09e";
}
.si-volume-1:before {
  content: "\e09f";
}
.si-volume-2:before {
  content: "\e0a0";
}
.si-volume-off:before {
  content: "\e0a1";
}
.si-users:before {
  content: "\e001";
}


