.table-vertical td {
  vertical-align: top !important; }

.card {
  padding: 5px 5px 5px 5px;
  background-color: #ccc;
  border-top-right-radius: 10px;
  width: 150px;
  height: 130px;
  margin: 10px;
  cursor: pointer;
  display: inline-flex;
  word-wrap: break-word;
  overflow: hidden; }

.ng-visibility-hidden {
  visibility: hidden;
  display: block !important; }

.card.green {
  background-color: #dff0d8;
  color: black;
  border-left: 10px solid #5cb85c; }

.card.red {
  background-color: #eed3d7;
  color: black;
  border-left: 10px solid #d9534f; }

tr:hover .on-drag-enter {
  border: 2pt dotted #073F75;
  border-top-color: #073F75 !important;
  padding-top: 2pt; }

tr:hover .on-drag-hover:after {
  content: 'Drop Open Defect Here';
  font-size: 14pt;
  margin-left: 20px;
  text-align: center; }

.item_selected {
  border: 2px solid #073F75; }

.step-content {
  margin: 10px !important; }

#bom_btn:disabled {
  pointer-events: all; }

.indicator {
  width: 100px;
  float: right;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 15px 10px;
  line-height: 1.2;
  font-size: 14pt;
  display: inline-block;
  color: #696d73;
  background-color: #D8D8D8; }

.indicator-green {
  background-color: #dff0d8; }

.indicator-red {
  background-color: #eed3d7; }

.smaller-dropdown-menu {
  max-height: 250px; }

.input-bold {
  color: black !important; }

.selected_defect {
  border: 2px solid #073f75 !important; }


/*# sourceMappingURL=inspectionandrework.scss.map */
