/* Mixins */
.assemble-listing {
  max-height: 700px;
  overflow: auto;
  /*.assemble-list-item.alt
  .disassemble-list-item.alt {
  	background: $background-gray;
  	border-top: solid 1px $border-gray;
  	border-bottom: solid 1px $border-gray;
  }*/ }
  .assemble-listing .assemble-list-item,
  .assemble-listing .disassemble-list-item {
    position: relative;
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    cursor: pointer; }
    .assemble-listing .assemble-list-item .sequence-label,
    .assemble-listing .disassemble-list-item .sequence-label {
      -webkit-box-shadow: inset 0px 8px 8px -4px #e3e3e3;
      box-shadow: inset 0px 8px 8px -4px #e3e3e3;
      position: absolute;
      background: #edf1f5;
      border: solid 1px #cccccc;
      color: #686868;
      height: 40px;
      width: 58px;
      font-size: 18pt;
      font-weight: 400;
      left: 12px;
      top: 12px;
      padding-top: 7px;
      text-align: center; }
    .assemble-listing .assemble-list-item .item-details,
    .assemble-listing .disassemble-list-item .item-details {
      padding: 6px 6px 6px 75px; }
      .assemble-listing .assemble-list-item .item-details h3,
      .assemble-listing .disassemble-list-item .item-details h3 {
        font-size: 15pt; }
      .assemble-listing .assemble-list-item .item-details p, .assemble-listing .assemble-list-item .item-details h3,
      .assemble-listing .disassemble-list-item .item-details p,
      .assemble-listing .disassemble-list-item .item-details h3 {
        margin: 6px 0; }
      .assemble-listing .assemble-list-item .item-details .attribute-label,
      .assemble-listing .disassemble-list-item .item-details .attribute-label {
        color: #555; }
  .assemble-listing .assemble-list-item.active,
  .assemble-listing .disassemble-list-item.active {
    background-color: #edf1f5;
    border: solid 2px #cccccc;
    border-bottom: solid 6px #cccccc; }
    .assemble-listing .assemble-list-item.active .sequence-label,
    .assemble-listing .disassemble-list-item.active .sequence-label {
      -webkit-box-shadow: inset 0px 8px 8px -4px #f0f0f0;
      box-shadow: inset 0px 8px 8px -4px #f0f0f0;
      background: #fff; }
  .assemble-listing .assemble-list-item .sequence-label {
    font-size: 18pt;
    padding-top: 7px; }
  .assemble-listing .disassemble-list-item .sequence-label {
    font-size: 12pt;
    padding-top: 10px; }
  .assemble-listing .right-panel .display-value {
    padding: 10px 0px;
    border-top: solid 1px #073f75; }

.auto-assemble-icon {
  display: none; }

.auto-assemble {
  opacity: 0.8; }
  .auto-assemble .auto-assemble-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px; }

.remove-item {
  color: red; }

.required-label {
  color: red;
  font-weight: 800;
  float: right; }

.btn-flat {
  margin-bottom: 10px; }

.required-label-left {
  color: red;
  font-weight: 800;
  float: left; }

.validation-message {
  background: red;
  text-align: center;
  color: #fff;
  padding: 3px;
  margin-top: -1px; }

.validation-message:last-child {
  margin-bottom: 3px; }

.invalid,
.needs-resolution .ng-invalid,
.ng-dirty.ng-invalid {
  border-color: red !important;
  border-width: 2px !important; }

/*# sourceMappingURL=assemble.scss.map */
