﻿.search-dropdown {
  height: auto;
  width: auto;
  box-shadow: 2px 2px 3px #888888;
  max-height: 155px;
  overflow-y: hidden;
  z-index: 30;
  background-color: white; }

ul {
  list-style-type: none; }

.highlighted {
  background-color: lightblue;
  color: black;
  font: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit; }

.defectItem {
  padding-left: 13px;
  padding-right: 8px;
  z-index: 30; }


.indicator {
  width: 100px;
  height: 75px;
  float: right;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  padding-top: 22px;
  font-size: 14pt;
  display: inline-block;
  color: #696d73;
  background-color: #D8D8D8; }

.indicator-green {
  background-color: #dff0d8; }

.indicator-red {
  background-color: #eed3d7; }


 .select2-results {
        max-height: 100px;
    }
