﻿.scan-success {
    border-color: green !important;
}

.scan-failure {
    border-color: red !important;
}

.alert-small {
    padding: 7px 7px 8px 7px !important;
    margin-bottom: 0 !important;
}
