.no-padding {
  padding: 0 0 0 0; }

.header-border {
  border-bottom: 1px solid darkgray; }

.span-button {
  cursor: pointer; }

.span-button:hover {
  opacity: .6; }

.pass {
  color: lightgreen; }

.fail {
  color: lightcoral; }

.abort {
  color: royalblue; }

/*# sourceMappingURL=OperationView.scss.map */
