﻿.panelization-scroll-container {
    max-height: 250px;
    overflow-y: auto;
}
.panelization-scroll-container::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

.panelization-scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.panelization-scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background: rgba(171, 171, 171, .5);
}