﻿.inline {
    padding-right: 15px;
}
.panel-scroll-container {
    max-height: 250px;
    overflow: auto;
    padding: 10px 0px 20px;
}
.panel-scroll-container::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

.panel-scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.panel-scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background:  rgb(113, 155, 189);
}