.ngGrid-responsive {
    overflow: hidden;
}

.ngViewport {
    overflow-y: auto;
    overflow-x: hidden;
}

    .ngViewport::-webkit-scrollbar {
        width: 9px;
        height: 8px;
    }

    .ngViewport::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .ngViewport::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
        background: rgba(171, 171, 171, .5);
    }

.disabled-select {
    cursor: not-allowed;
    background-color: #eeeeee;
}

.wizard-steps li {
    -moz-min-width: 20%;
    -ms-min-width: 20%;
    -o-min-width: 20%;
    -webkit-min-width: 20%;
    min-width: 20%;
}
.wizard-steps {
    margin-left: 20px;
}
.step-content {
    margin: 0px;
}
.ng-grid-dropdown {
    position: absolute;
    z-index: 999;
    max-height: 175px!important;
    overflow: hidden;
    border: 1px solid #DADADA;
    border-radius: 5px;
    width: 95%;
}
.invalid {
    border: solid;
}

/*# sourceMappingURL=popDePop.scss.map */
