﻿.process-verify-square-1 {
    padding: 45px;
    width:200px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: #ebebeb;
    border: dashed 4px #adadad;
}

.process-verify-square-success {
    padding: 45px;
    width:200px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    background-color: #47a447;
    border: dashed 4px #398439;
}
    /*for the verify checkmark*/
    .process-verify-square-success span {
        font-size: 30px;
    }
    /*for the verify text*/
    .process-verify-square-success span>span {
         color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 400;
    }

.process-verify-square-failed {
    padding: 45px;
    width:200px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
      font-size: 30px;
      font-family: 'Open Sans';
    color: #ffffff;
    background-color: #d2322d;
    border: dashed 4px #ac2925;
}
    /*for the verify checkmark*/
    .process-verify-square-failed span {
        font-size: 30px;
    }
    /*for the verify text*/
    .process-verify-square-failed span>span {
         color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 400;
    }