p {
  text-align: center; }

.node {
  position: absolute;
  border: 1px solid;
  border-radius: 0.5em;
  color: black;
  background-color: white;
  height: 5em;
  width: 8em;
  z-index: 2000;
  display: inline-flex; }

.node:hover {
  box-shadow: 2px 2px 19px #AAAAAA;
  cursor: move; }

.node-selected {
  border: 1px dashed black; }

.source {
  border: 1px solid;
  -ms-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  left: 5px;
  height: 2em;
  width: 10%;
  background-color: #3399cc;
  float: right;
  margin-top: 1.4em; }

.source:hover {
  box-shadow: 2px 2px 19px #3399cc;
  cursor: pointer; }

.title {
  text-align: center;
  width: 86%;
  margin-top: 1em; }

.target {
  border: 1px solid;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-left: -5px;
  height: 2em;
  width: 10%;
  background-color: #cc3333;
  margin-top: 1.4em; }

.jsPlumbContainer {
  width: 100%;
  height: 100%;
  position: relative; }

.jsPlumbOuterContainer {
  overflow: auto;
  border-radius: 4px;
  border: 2px solid #dddddd;
  height: 500px; }

.popup-window {
  padding: 20px 20px 0 20px; }

.no-padding {
  padding: 0 0 0 0; }

.routeLegend {
  float: right;
  border: 1px #dddddd solid;
  border-radius: 4px;
  margin-right: 40px;
  position: relative;
  top: -75px;
  z-index: 5000;
  background-color: rgba(255, 255, 255, 0.8); }

.control-label {
  width: 100%; }

.span-in-label {
  font-weight: normal; }

.option-disabled {
  cursor: not-allowed;
  background-color: #dddddd;
  color: #aaaaaa;
  font-style: italic; }

/*# sourceMappingURL=routedesigner.scss.map */
