@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal; 
  src: local('Lato Light'),
       local('Lato-300'),
       url('../fonts/Lato/Lato-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato Regular'),
       local('Lato-regular'),
       url('../fonts/Lato/Lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato Bold'),
       local('Lato-700'),
       url('../fonts/Lato/Lato-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: local('Lato Black'),
       local('Lato-900'),
       url('../fonts/Lato/Lato-900.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: local('Lato Light Italic'),
       local('Lato-300italic'),
       url('../fonts/Lato/Lato-300italic.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: local('Lato Italic'),
       local('Lato-italic'),
       url('../fonts/Lato/Lato-italic.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('../fonts/Lato/Lato-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: local('Lato Black Italic'),
       local('Lato-900italic'),
       url('../fonts/Lato/Lato-900italic.woff') format('woff');
}

