﻿.resource-editable {
    background-color: yellow;
    border-radius: 4px;
    border: 1px solid black;
    color: black;
    padding: 2px 4px;
    cursor: pointer;

    /* negative margin negates padding and border */
    margin: -3px -5px;
}

.resource-editor .container-header {
    margin-bottom: 20px;
}