@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../fonts/Open-Sans/Open-Sans-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Open Sans'),
       local('Open-Sans-regular'),
       url('../fonts/Open-Sans/Open-Sans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('../fonts/Open-Sans/Open-Sans-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('../fonts/Open-Sans/Open-Sans-700.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: local('Open Sans Extrabold'),
       local('Open-Sans-800'),
       url('../fonts/Open-Sans/Open-Sans-800.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: local('Open Sans Light Italic'),
       local('Open-Sans-300italic'),
       url('../fonts/Open-Sans/Open-Sans-300italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('../fonts/Open-Sans/Open-Sans-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: local('Open Sans Semibold Italic'),
       local('Open-Sans-600italic'),
       url('../fonts/Open-Sans/Open-Sans-600italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: local('Open Sans Bold Italic'),
       local('Open-Sans-700italic'),
       url('../fonts/Open-Sans/Open-Sans-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: local('Open Sans Extrabold Italic'),
       local('Open-Sans-800italic'),
       url('../fonts/Open-Sans/Open-Sans-800italic.woff') format('woff');
}

