.tile {
    float: left;
    height: 145px;
    width: 23%;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px 5px;
    background-color: #f7f7f7;
    border: 1px solid #dae3e9;
}
  .tile:hover {
    opacity: .8;
    cursor: pointer; }
  .tile-rnd {
    border-radius: 5px 5px 5px 5px; }
  .tile-blue {
    background-color: #073f75;
    border: none;
    color: #fff; }
    .tile-blue [class^="jabil-i-"], .tile-blue [class*=" jabil-i-"] {
      color: #fff; }

/*# sourceMappingURL=tiles.scss.map */
